<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157652902816-e7l0p1vtmrs6fedchkef2g4nu47cjosm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157652902816-e7l0p1vtmrs6fedchkef2g4nu47cjosm</string>
	<key>API_KEY</key>
	<string>AIzaSyAdAKx6qB-L1GFmuKonF1NLUCCushy9qdc</string>
	<key>GCM_SENDER_ID</key>
	<string>157652902816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team5773.TrashSorterAppTest</string>
	<key>PROJECT_ID</key>
	<string>trashsorterappv2</string>
	<key>STORAGE_BUCKET</key>
	<string>trashsorterappv2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:157652902816:ios:899fddaa1bf8387a733ac5</string>
	<key>DATABASE_URL</key>
	<string>https://trashsorterappv2.firebaseio.com</string>
</dict>
</plist>
